body, p, li, a { font-family: georgia, times, serif;font-size:13pt;}
h1, h2, h3 { font-family: 'Yanone Kaffeesatz', arial, serif; }
body { margin:0;padding:0;}
#hd {
	width : 100%;
	height : 87px;
	background-color : #092E67;
	margin-top : 0;
	padding-top : 10px;
	border-bottom : 1px solid #888;
	z-index : 0;
}
#ft {
	position : absolute;
	bottom : 0;
	width : 100%;
	height : 99px;
	background-color : #6493D2;
	border-top : 1px solid #888;
	z-index : 0;
}
#logo,#bd {
	width : 650px;
	margin: 0 auto;
	padding: 25px 50px 0 50px;
}
#logo h1 {
	color : white;
	font-size:36pt;
	display: inline;
}
#logo img { 
	display:inline;
	vertical-align: bottom;
	margin-left : 50px;
	margin-right : 5px;
}
body { margin-top : 0; padding-top : 0;}
#logo, #logo h1 { margin-top : 0; padding-top : 0;}
#bd {
	position : absolute;
	top : 75px;
	bottom : 75px;
	left : 50%;
	margin-left : -325px;
	z-index : 1;
	overflow: auto;
	background-color : #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px #888;
	-webkit-box-shadow: 0px 0px 10px #888;
	box-shadow: 0px 0px 10px #888;
}
a, a:visited, a:hover, a:active {
	color : #6493D2;
}
h2 {
	padding : 0; margin:0;
	font-size:36pt;
	color:#FF5500;
}
h3 {
	padding : 0; margin:0;
	font-size:24pt;
	color:#092E67;
}

/* MODAL DIALOG */

div.modal-window {
   position:fixed;
   border: 4px solid #D59100;
   background-color: #fff;
   width:860px;
}

iframe.modal-window-iframe {
   position:absolute;
   width:856px;
   border: none;
   background-color: transparent;
}

div.mw-top {
   background-color: #000066;
   height: 0px;
}

div.mw-middle {
}

div.mw-left {
}

div#modalCon{
	width:863px;
	margin-left:70px;
}


div.mw-right {
}

div.modal-window-title {
   padding: 10px;
   font-weight: bold;
   font-size:18px;
   border-bottom: 1px solid #99C;
}

div.modal-window-close {
   position:absolute;
   left:782px;
   top:4px;
}

div.modal-window-close a {
   padding: 1px 5px 0 0;
   text-decoration: none;
   font-weight: bold;
   font-size: 12pt;
   color: #000006;
}

div.modal-window-main {
   padding: 3px;
   clear: both;
   display: block;
   float: none;
}

div.modal-window-content {
   min-height: 100px;
   font-size:15px;
   vertical-align: top;
   padding: 40px;
   height: auto !important;
   height: 100px;
}

div.mw-button-bar {
   margin-top:15px;
   width:100%;
   background-color: #dfe5ef;
   height: 31px;
}

div.mw-button-bar input{
   margin: 5px;
   background-color: #fff;
   text-decoration:none;
   font:bold 1em Arial, Helvetica, sans-serif;
   border:none;
   overflow:visible;
   color:#000066;
   text-align:center;
   padding: 2px;
   cursor:pointer;
   min-width: 90px;
}

div.mw-bottom {
}

div.modal-dialog-overlay {
   opacity:0.6;
   -moz-opacity:0.6;
   background-color:black;
   filter:alpha(opacity=60);
}
